.row {
    width: 80%;
    height: 150px;
    margin: 2rem auto;
}

.cell {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: whiteSmoke;
    box-shadow: 4px -40px 60px 5px rgb(26, 117, 206) inset;
}

.square {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background: whiteSmoke;
    box-shadow: 4px -40px 60px 5px rgb(26, 117, 206) inset;
}


.pulse {
    animation: pulse 1s ease-in-out alternate;
}

@keyframes pulse {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1.2);
    }
}

.flash {
    animation: flash 500ms ease alternate;
}

@keyframes flash {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.hithere {
    animation: hithere 1s ease;
}

@keyframes hithere {
    30% {
        transform: scale(1.2);
    }
    40%, 60% {
        transform: rotate(-20deg) scale(1.2);
    }
    50% {
        transform: rotate(20deg) scale(1.2);
    }
    70% {
        transform: rotate(0deg) scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.grow {
    animation: grow 0.5s ease;
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.fade-in {
    animation: fade-in 0.5s linear;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
    animation: fade-out 0.5s linear;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.bounce {
    animation: bounce 0.5s ease;
}

@keyframes bounce {
    70% {
        transform: translateY(0%);
    }
    80% {
        transform: translateY(-15%);
    }
    90% {
        transform: translateY(0%);
    }
    95% {
        transform: translateY(-7%);
    }
    97% {
        transform: translateY(0%);
    }
    99% {
        transform: translateY(-3%);
    }
    100% {
        transform: translateY(0);
    }
}

.bounce2 {
    animation: bounce2 0.5s ease;
}

@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.shake {
    animation: shake 0.5s ease;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.flip {
    backface-visibility: visible !important;
    animation: flip 0.5s ease;
}

@keyframes flip {
    0% {
        transform: perspective(400px) rotateY(0);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(400px) translateZ(150px) rotateY(170deg);
        animation-timing-function: ease-out;
    }
    50% {
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        animation-timing-function: ease-in;
    }
    80% {
        transform: perspective(400px) rotateY(360deg) scale(.95);
        animation-timing-function: ease-in;
    }
    100% {
        transform: perspective(400px) scale(1);
        animation-timing-function: ease-in;
    }
}

.swing {
    transform-origin: top center;
    animation: swing 0.5s ease;
}

@keyframes swing {
    20% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.wobble {
    animation: wobble 0.5s ease;
}

@keyframes wobble {
    0% {
        transform: translateX(0%);
    }
    15% {
        transform: translateX(-25%) rotate(-5deg);
    }
    30% {
        transform: translateX(20%) rotate(3deg);
    }
    45% {
        transform: translateX(-15%) rotate(-3deg);
    }
    60% {
        transform: translateX(10%) rotate(2deg);
    }
    75% {
        transform: translateX(-5%) rotate(-1deg);
    }
    100% {
        transform: translateX(0%);
    }
}

.fade-in-down {
    animation: fade-in-down 0.5s ease;
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fade-in-up 0.5s ease;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-left {
    animation: fade-in-left 0.5s ease;
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.fade-in-right {
    animation: fade-in-right 0.5s ease;
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-out-down {
    animation: fade-out-down 0.5s ease;
}

@keyframes fade-out-down {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.fade-out-right {
    animation: fade-out-right 0.5s ease;
}

@keyframes fade-out-right {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}

.bounce-in {
    animation: bounce-in 0.5s ease;
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}

.bounce-in-right {
    animation: bounce-in-right 0.5s ease;
}

@keyframes bounce-in-right {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(-30px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}
