<!DOCTYPE html>
<html lang='zh-cmn-Hans'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
    <meta name='renderer' content='webkit'>
    <meta http-equiv='Cache-Control' content='no-siteapp' />
    <title>DreamBot WEBUI</title>
    <link rel='stylesheet' href='libs/MDUI/css/mdui.min.css' /> <!-- MDUI CSS -->
    <link rel='stylesheet' href='css/DreamBotWEB.css'> <!-- DreamBot CSS -->
    <link rel='stylesheet' href='css/animation.css'> <!-- animation -->
    <script src='libs/SortableJS/Sortable.min.js'></script> <!-- SortableJS -->

</head>



<body class='mdui-appbar-with-toolbar mdui-theme-primary-blue mdui-theme-accent-blue mdui-col-sm-12 DBot-page-body'>
    <div class='mdui-container mdui-appbar-with-toolbar'>
        <header class='mdui-appbar mdui-appbar-fixed'>
            <div class='mdui-toolbar mdui-color-theme-accent DBot-header-ui'>
                <a href='javascript:;' id='toggle' class='mdui-btn mdui-btn-icon'><i
                        class='mdui-icon material-icons'>menu</i></a>
                <a href='javascript:;' class='mdui-typo-headline'>DreamBot</a>
                <a href='javascript:;' class='mdui-typo-title'>WebUI</a>
                <div class='mdui-toolbar-spacer'></div>
            </div>
        </header>
        <div class='mdui-typo-display-1 mdui-m-l-5 mdui-m-b-2 fade-in-left'>添加规则
            <button class='mdui-btn mdui-ripple'>取消</button>
            <button class='mdui-btn mdui-color-theme-accent mdui-ripple'>提交</button>
        </div>
        <div class='mdui-divider'></div>


        <div class="fade-in-left">
            <div class='mdui-text-center mdui-card-primary-title mdui-m-t-1 mdui-m-b-1'>基本信息</div>
            <div class='mdui-container'>
                <div class='mdui-textfield mdui-textfield-floating-label'>
                    <label class='mdui-textfield-label'>规则名称</label>
                    <input class='mdui-textfield-input' type='text' />
                </div>
            </div>

            <div class='mdui-divider mdui-m-b-2 mdui-m-t-2'></div>
            <div class='mdui-text-center mdui-card-primary-title mdui-m-t-1 mdui-m-b-1'>绑定事件</div>
            <div class='mdui-container'>
                <div class=" mdui-m-b-2">
                    <button
                        class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-m-t-1 mdui-m-b-1 mdui-m-l-1 mdui-m-r-1"
                        onclick="quick_check_all()">选择全部事件</button>
                    <button
                        class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-m-t-1 mdui-m-b-1 mdui-m-l-1 mdui-m-r-1"
                        onclick="quick_check_message_all()">选择全部消息事件</button>
                    <button
                        class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-m-t-1 mdui-m-b-1 mdui-m-l-1 mdui-m-r-1"
                        onclick="quick_check_notice_all()">选择全部通知事件</button>
                    <button
                        class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-m-t-1 mdui-m-b-1 mdui-m-l-1 mdui-m-r-1"
                        onclick="quick_check_request_all()">选择全部请求事件</button>
                    <button
                        class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-m-t-1 mdui-m-b-1 mdui-m-l-1 mdui-m-r-1"
                        onclick="quick_check_meta_all()" disabled>选择全部元事件</button>
                    <button
                        class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-m-t-1 mdui-m-b-1 mdui-m-l-1 mdui-m-r-1"
                        onclick="quick_uncheck_all()">取消选择全部</button>
                </div>
                <div class='mdui-panel' mdui-panel>
                    <div class='mdui-panel-item'>
                        <div class='mdui-panel-item-header'>
                            <div class='mdui-panel-item-title'>消息事件</div>
                            <div class='mdui-panel-item-summary' id="Bind_Event_info-message">0/6</div>
                            <i class='mdui-panel-item-arrow mdui-icon material-icons'>keyboard_arrow_down</i>
                        </div>
                        <div class='mdui-panel-item-body'>
                            <ul class='mdui-list'>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>私聊消息 (好友)</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_FriendPrivateMessageEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>私聊消息 (群临时会话)</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_GroupPrivateMessageEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>私聊消息 (其他)</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_OtherPrivateMessageEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>群消息 (正常消息)</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_NormalGroupMessageEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>群消息 (匿名消息)</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_AnonymousGroupMessageEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>群消息(系统提示)</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_NoticeGroupMessageEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class='mdui-panel-item'>
                        <div class='mdui-panel-item-header'>
                            <div class='mdui-panel-item-title'>请求事件</div>
                            <div class='mdui-panel-item-summary' id="Bind_Event_info-request">0/3</div>
                            <i class='mdui-panel-item-arrow mdui-icon material-icons'>keyboard_arrow_down</i>
                        </div>
                        <div class='mdui-panel-item-body'>
                            <ul class='mdui-list'>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>加好友请求</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_FriendRequestEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>加群请求</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_AddGroupRequestEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>邀请登录号入群</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_InviteGroupRequestEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class='mdui-panel-item'>
                        <div class='mdui-panel-item-header'>
                            <div class='mdui-panel-item-title'>通知事件</div>
                            <div class='mdui-panel-item-summary' id="Bind_Event_info-notice">0/11</div>
                            <i class='mdui-panel-item-arrow mdui-icon material-icons'>keyboard_arrow_down</i>
                        </div>
                        <div class='mdui-panel-item-body'>
                            <ul class='mdui-list'>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>群文件上传</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_GroupUploadNoticeEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>群管理员变动</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_GroupAdminNoticeEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>群成员减少</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_GroupDecreaseNoticeEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>群成员增加</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_GroupIncreaseNoticeEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>群禁言</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_GroupBanNoticeEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>好友添加</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_FriendAddNoticeEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>好友消息撤回</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_FriendRecallNoticeEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>群消息撤回</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_GroupRecallNoticeEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>群内戳一戳</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_PokeNotifyNoticeEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>群红包运气王</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_LuckyKingNotifyNoticeEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>群成员荣誉变更</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_HonorNotifyNoticeEvent"
                                            onchange="BindRuleChange()" />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class='mdui-panel-item'>
                        <div class='mdui-panel-item-header'>
                            <div class='mdui-panel-item-title'>元事件</div>
                            <div class='mdui-panel-item-summary' id="Bind_Event_info-meta">0/2 (暂不提供支持)</div>
                            <i class='mdui-panel-item-arrow mdui-icon material-icons'>keyboard_arrow_down</i>
                        </div>
                        <div class='mdui-panel-item-body'>
                            <ul class='mdui-list'>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>生命周期(暂不支持)</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_LifeCycleMetaEvent"
                                            onchange="BindRuleChange()" disabled />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                                <li class='mdui-list-item mdui-ripple'>
                                    <div class='mdui-list-item-content'>心跳(暂不支持)</div>
                                    <label class='mdui-switch'>
                                        <input type='checkbox' id="CheckBox_Bind_HeartBeatMetaEvent"
                                            onchange="BindRuleChange()" disabled />
                                        <i class='mdui-switch-icon'></i>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class='mdui-divider mdui-m-b-1 mdui-m-t-1'></div>
            <div class='mdui-text-center mdui-card-primary-title mdui-m-t-1 mdui-m-b-1'>消息事件生效范围</div>
            <div class='mdui-container'>
                <p>模式</p>
                <select class='mdui-select mdui-p-t-2' mdui-select>
                    <option>全局生效</option>
                    <option>全部群聊生效</option>
                    <option>指定群聊生效</option>
                    <option>其它群聊生效</option>
                    <option>全部私聊生效</option>
                    <option>指定私聊生效</option>
                    <option>其它私聊生效</option>
                    <option>其它私聊/群聊生效</option>
                    <option>指定私聊/群聊生效</option>
                </select>
                <div class="mdui-panel mdui-m-t-1" mdui-panel>

                    <div class="mdui-panel-item">
                        <div class="mdui-panel-item-header">
                            <div class="mdui-panel-item-title">群聊列表</div>
                            <div class="mdui-panel-item-summary">已选中:0/1</div>
                            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                        </div>
                        <div class="mdui-panel-item-body">
                            <form class='mdui-m-t-1'>
                                <ul class='mdui-list'>
                                    <li class='mdui-list-item mdui-ripple'>
                                        <div class='mdui-list-item-content'>樱花树下的约定(700080009)</div>
                                        <label class='mdui-checkbox'>
                                            <input type='checkbox' id="CheckBox_Bind_" onchange="BindRuleChange()" />
                                            <i class='mdui-checkbox-icon'></i>
                                        </label>
                                    </li>
                                </ul>
                            </form>

                        </div>
                    </div>

                    <div class="mdui-panel-item">
                        <div class="mdui-panel-item-header">
                            <div class="mdui-panel-item-title">好友列表</div>
                            <div class="mdui-panel-item-summary">已选中:0/1</div>
                            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                        </div>
                        <div class="mdui-panel-item-body">
                            <form class='mdui-m-t-1'>
                                <ul class='mdui-list'>
                                    <li class='mdui-list-item mdui-ripple'>
                                        <div class='mdui-list-item-content'>Dream(2411507028)</div>
                                        <label class='mdui-checkbox'>
                                            <input type='checkbox' id="CheckBox_Bind_" onchange="BindRuleChange()" />
                                            <i class='mdui-checkbox-icon'></i>
                                        </label>
                                    </li>
                                </ul>
                            </form>

                        </div>
                    </div>
                </div>

            </div>


            <div class='mdui-divider mdui-m-b-1 mdui-m-t-1'></div>
            <div class='mdui-text-center mdui-card-primary-title mdui-m-t-1 mdui-m-b-1'>处理模式</div>
            <div class='mdui-container'>
                <form class='mdui-m-t-1' id=>
                    <ul class='mdui-list'>
                        <li class='mdui-list-item mdui-ripple'>
                            <div class='mdui-list-item-content'>插件直通模式</div>
                            <label class='mdui-radio'>
                                <input id='Message_HandleDirect' value="Direct" onchange="MessageUpdateMode()" type='radio'
                                    name='message_processmode' />
                                <i class='mdui-radio-icon'></i>
                            </label>
                        </li>
                        <li class='mdui-list-item mdui-ripple'>
                            <div class='mdui-list-item-content' id='Message_HandleCommand_INFO'>命令模式(当前无法使用)</div>
                            <label class='mdui-radio'>
                                <input id='Message_HandleCommand' value="Command" onchange="MessageUpdateMode()" type='radio'
                                    name='message_processmode' disabled />
                                <i class='mdui-radio-icon'></i>
                            </label>
                        </li>
                        <li class='mdui-list-item mdui-ripple'>
                            <div class='mdui-list-item-content'>转发模式</div>
                            <label class='mdui-radio'>
                                <input id='Message_Proxy' type='radio' value="Proxy" onchange="MessageUpdateMode()"
                                    name='message_processmode' />
                                <i class='mdui-radio-icon'></i>
                            </label>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class='mdui-divider mdui-m-b-1 mdui-m-t-1'></div>
        <div id='MessageModeAdv'>
        </div>



        <div class='mdui-divider mdui-m-b-2 mdui-m-t-2'></div>
        <div class='mdui-text-center mdui-card-primary-title mdui-m-t-1 mdui-m-b-1'>其它</div>

        <div class='mdui-card-content mdui-container'>
            <ul class='mdui-list'>
                <li class='mdui-list-item mdui-ripple'>
                    <div class='mdui-list-item-content'>停止处理其它规则</div>
                    <label class='mdui-switch'>
                        <input type='checkbox' id="CheckBox_Bind_" onchange="BindRuleChange()" />
                        <i class='mdui-switch-icon'></i>
                    </label>
                </li>
            </ul>
        </div>
    </div>




    </div>
    <script src='libs/MDUI/js/mdui.min.js'></script>
    <script src='libs/JQuery/jquery.min.js'></script>
    <script src='js/DreamBotWEB/addrules.js'></script>
</body>

</html>