<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>DreamBot WEBUI</title>
    <link rel="stylesheet" href="libs/MDUI/css/mdui.min.css" /> <!-- MDUI CSS -->
    <link rel="stylesheet" href="css/DreamBotWEB.css"> <!-- DreamBot CSS -->
    <link rel="stylesheet" href="css/animation.css"> <!-- animation -->
    <script src="libs/SortableJS/Sortable.min.js"></script> <!-- SortableJS -->

</head>



<body class="mdui-appbar-with-toolbar mdui-theme-primary-blue mdui-theme-accent-blue mdui-col-sm-12 DBot-page-body">
    <div class="mdui-container-fluid mdui-appbar-with-toolbar">
        <header class="mdui-appbar mdui-appbar-fixed">
            <div class="mdui-toolbar mdui-color-theme-accent DBot-header-ui">
                <a href="javascript:;" id="toggle" class="mdui-btn mdui-btn-icon"><i
                        class="mdui-icon material-icons">menu</i></a>
                <a href="javascript:;" class="mdui-typo-headline">DreamBot</a>
                <a href="javascript:;" class="mdui-typo-title">WebUI</a>
                <div class="mdui-toolbar-spacer"></div>
            </div>
        </header>
        <div class="mdui-typo-display-1 mdui-m-l-5 mdui-m-b-2 fade-in-left">事件处理规则
            <button class="mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-ripple mdui-hoverable"><i
                    class="mdui-icon material-icons">add</i></button>
        </div>

        <div id="items" class="mdui-panel list-group col" mdui-panel>
            <div class="list-group-item mdui-panel-item mdui-p-r-1 mdui-p-l-1 mdui-m-b-2 mdui-m-t-2 fade-in-right">
                <div class="mdui-panel-item-header">
                    <div class="mdui-panel-item-title">#1 DreamRule1</div>
                    <div class="mdui-panel-item-summary mdui-text-color-blue">已生效</div>
                    <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <div class="mdui-panel-item-body">
                    <div class="mdui-typo">
                        <p>按前缀 <kbd>/</kbd> 匹配消息</p>
                        <p>模式: 插件命令处理模式</p>
                        <p>插件处理器: 全部</p>
                        <p>生效范围: 全部群聊</p>
                    </div>
                    <div class="mdui-panel-item-actions">
                        <button class="mdui-btn mdui-ripple">EDIT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="libs/MDUI/js/mdui.min.js"></script>
    <script src="libs/JQuery/jquery.min.js"></script>
    <script src="js/DreamBotWEB/messageRules.js"></script>

</body>

</html>