<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>DreamBot WEBUI</title>
    <link rel="stylesheet" href="libs/MDUI/css/mdui.min.css" />
    <script src="libs/SortableJS/Sortable.min.js"></script>
</head>



<body class=" mdui-appbar-with-toolbar mdui-theme-primary-blue  mdui-theme-accent-blue mdui-col-sm-12"
    style="background-color: #EEEEEE;">
    <div class="mdui-container-fluid mdui-appbar-with-toolbar">
        <header class="mdui-appbar mdui-appbar-fixed">
            <div class="mdui-toolbar mdui-color-theme-accent">
                <a href="javascript:;" id="toggle" class="mdui-btn mdui-btn-icon"><i
                        class="mdui-icon material-icons">menu</i></a>
                <a href="javascript:;" class="mdui-typo-headline">DreamBot</a>
                <a href="javascript:;" class="mdui-typo-title">WebUI</a>
                <div class="mdui-toolbar-spacer"></div>
            </div>
        </header>
        <div class="mdui-typo-display-1 mdui-m-l-5 mdui-m-b-2">消息处理规则
            <button class="mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-ripple mdui-hoverable"><i
                    class="mdui-icon material-icons">add</i></button>
        </div>

        <div id="items" class="mdui-panel list-group col" mdui-panel>

            <div class="list-group-item mdui-panel-item mdui-p-r-1 mdui-p-l-1 mdui-m-b-2 mdui-m-t-2">
                <div class="mdui-panel-item-header">
                    <div class="mdui-panel-item-title">#1 DreamRule1</div>
                    <div class="mdui-panel-item-summary mdui-text-color-blue">已生效</div>
                    <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <div class="mdui-panel-item-body">
                    <div class="mdui-typo">
                        <p>按前缀 <kbd>/</kbd> 匹配消息</p>
                        <p>模式: 插件命令处理模式</p>
                        <p>插件处理器: 全部</p>
                        <p>生效范围: 全部群聊</p>
                    </div>
                    <div class="mdui-panel-item-actions">

                        <button class="mdui-btn mdui-ripple">EDIT</button>
                    </div>
                </div>
            </div>
            <div class="list-group-item mdui-panel-item mdui-p-r-1 mdui-p-l-1 mdui-m-b-2 mdui-m-t-2">
                <div class="mdui-panel-item-header">
                    <div class="mdui-panel-item-title">#1 DreamRule1</div>
                    <div class="mdui-panel-item-summary mdui-text-color-blue">已生效</div>
                    <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <div class="mdui-panel-item-body">
                    <div class="mdui-typo">
                        <p>按前缀 <kbd>/</kbd> 匹配消息</p>
                        <p>模式: 消息转发处理模式</p>
                        <p>转发位置: THERESAQWQ</p>
                        <p>生效范围: 全部群聊</p>
                    </div>
                    <div class="mdui-panel-item-actions">

                        <button class="mdui-btn mdui-ripple">EDIT</button>
                    </div>
                </div>
            </div>

            <div class="list-group-item  mdui-panel-item mdui-p-r-1 mdui-p-l-1 mdui-m-b-2 mdui-m-t-2">
                <div class="mdui-panel-item-header">
                    <div class="mdui-panel-item-title">#2 DreamBotManager</div>
                    <div class="mdui-panel-item-summary mdui-text-color-red">包含错误</div>
                    <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <div class="mdui-panel-item-body">
                    <div class="mdui-typo">
                        <p>按前缀 <kbd>/</kbd> 匹配消息</p>
                        <p>模式: 插件直通处理模式</p>
                        <p>插件: com.dreambot.manager</p>
                        <p>生效范围: 全部私聊</p>
                        <p>停止处理其它规则</p>
                    </div>
                    <div class="mdui-panel-item-actions">
                        <button class="mdui-btn mdui-ripple">EDIT</button>
                    </div>
                </div>
            </div>


        </div>



    </div>


    <script type="text/javascript">
        var el = document.getElementById('items');
        var sortable = Sortable.create(el, {
            animation: 200,
            forceFallback: false,
            onUpdate: function (/**Event*/evt) {
                // 与onEnd相同的属性
                
                console.info("old {"+evt.oldIndex+"} -> new {"+evt.newIndex+"}")
                mdui.snackbar({
                    message: '更新成功',
                    timeout:1250,
                });
            },

        });
    </script>
    <script src="libs/MDUI/js/mdui.min.js"></script>
    <script src="libs/JQuery/jquery.min.js"></script>
    <script src="js/dreambot.js"></script>
</body>

</html>